body 
{
    background-image: url("https://i.pinimg.com/originals/1d/b5/2c/1db52c07c56c74e5d400e3a69ee382b9.jpg");
}
ul.mainMenu
{
    padding: 0rem;
    width: 320px;
    position: absolute;
    top: 90px;
    left: 200px;
    box-shadow: 2px 2px 2px rgb(40, 40, 40);
}
ul.mainMenu li
{
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 0.0rem;
}
ul.mainMenu li a
{
    text-decoration: none;
    background-color: rgba(30, 30, 30, 0.95);
    color: rgb(60, 160, 230);
    display: block;
    padding: 1rem;
}
ul.mainMenu li a:hover
{
    text-decoration: none;
    background-color: rgba(30, 30, 30, 0.95);
    color: rgb(180, 200, 250);
    display: block;
    padding: 1rem;
}
div.title
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 24px;
    background-color: rgba(30, 30, 30, 0.95);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0rem;
    width: 320px;
    position: absolute;
    left: 200px;
    box-shadow: 2px 2px 2px rgb(40, 40, 40);
}
div.mainText
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(30, 30, 30, 0.95);
    color: rgb(200, 200, 200);
    padding: 1rem;
    line-height: 1.5rem;
    width: 1050px;
    height: 1000px;
    position: absolute;
    right: 200px;
    box-shadow: 2px 2px 2px rgb(40, 40, 40);
}
div.mainText p
{
    font-size: 18px;
}
